<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %>
      <% end %>

      window.images = {
        missing: "<%= image_path("missing.png") %>",
        bad_logo: "<%= image_path("bad_logo.png") %>",
        mag_glass: "<%= image_path("mag-glass.png") %>"
      }
    </script>
    <meta charset="utf-8">
    <title>Message</title>
  </head>
  <body>
    <div id='root'>
      I am the root.
    </div>
  </body>
</html>
