.followButtonContainer{
    width: 200px;
    position: relative;
    right: 180px;
    /*right: 110px;*/
    right: -5px;
    top: 30px;
    height: 40px;
}

.followButton-follow {
  border: 1px solid #e1bd5b;
  border-radius: 20px;
  height: 25px;
  text-align: center;
  width: 110px;
  padding-top: 6px;
  letter-spacing: .06em;
  color: #e1bd5b;
  cursor: pointer;
  background-color: white;
  transition: background-color 300ms;
}

.followButton-follow:hover {
  background-color: #e1bd5b;
  color: white;
}

.followButton-follow a:hover {
  color: white;
}

.followButton-unfollow {
  border: 1px solid #e1bd5b;
  border-radius: 20px;
  height: 25px;
  text-align: center;
  width: 110px;
  padding-top: 6px;
  letter-spacing: .06em;
  background-color: #e1bd5b;
  color: white;
  cursor: pointer;
  transition: background-color 300ms;
}

.followButton-unfollow:hover {
  background-color: white;
  color: #e1bd5b;
}

.followButton-unfollow a:hover {
  color: #e1bd5b;
}

.followAppear-appear {
  opacity: 0.01;
}

.followAppear-appear.followAppear-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
