
.nav-outer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
  z-index: 100;

  position: absolute;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 1000px;
  padding: 8px;
  top: 0px;
  font-size: 14px;
  letter-spacing: .8px;
}

.home-nav #logo {
  margin-left: 5px;
  margin-top: 6px;
}

.nav-right {
  display: flex;
  margin-right: 10px;
  width: 800px;
  position: relative;
}

.hello-message {
  margin-top: 20px;
  text-align: right;
  width: 100%
}

.write-story-message {
  margin-top: 20px;
  text-align: right;
  width: 200px;
}

.mag-glass {
  margin-top: 18px;
  margin-left: 5px;
  text-align: right;
  width: 20px;
  opacity: .5;
}

.avatar-container {
  margin-top: 12px;
  margin-left: 12px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  opacity: .8;
  position: relative;
  padding: 0px;
  min-width: 32px;
  max-width: 32px;
}

.avatar-container img {
  display: inline;
  margin: 0 auto;
  min-width: 32px;
  height: 32px;
}

.signup-avatar-container {
  float: right;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 36px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  opacity: .8;
  position: relative;
  padding: 0px;
  min-width: 32px;
  max-width: 32px;
}

.signup-avatar-container img {
  float: none;
  display: inline;
  margin: 0 auto;
  min-width: 32px;
  height: 32px;
}

.session-buttons  {
  text-align: right;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  text-decoration: none;
  padding: 0px;
  min-width: 62px;
  max-width: 260px;
  right:0px;
  color: #e6a822;
}

.session-buttons a:link {
  color: #e6a822;
}

.session-buttons a:visited {
  color: #e6a822;
}

.session-buttons a:hover {
  color: #f39036;
}

.session-buttons a:active {
  color: #fea95c;
}

.session-buttons a {
  text-decoration: none;
}

.session-buttons .guest-link a:link {
  color: #f39036;
}

.session-buttons .guest-link a:visited {
  color: #f39036;
}

.session-buttons .guest-link a:hover {
  color: #e6a822;
}

.session-buttons .guest-link a:active {
  color: #fea95c;
}
