.nav-outer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
  z-index: 100;
  margin-top: 0px;
  top: 0;

  position: absolute;
}

.nav-outer-input {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
  z-index: 100;
  top: 0;

  position: fixed;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 1000px;
  padding: 8px;
  top: 0px;
  font-size: 14px;
  letter-spacing: .8px;
  color: #aaa;
}

.home-nav #logo {
  margin-left: 5px;
  margin-top: 9px;
}

.input-nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 1000px;
  padding: 8px;
  top: 0px;
  font-size: 14px;
  letter-spacing: .8px;
  color: #aaa;
}

.input-nav #logo {
  margin-left: -2.5px;
  margin-top: 9px;
}


.nav-right {
  display: flex;
  margin-right: 10px;
  width: 800px;
  position: relative;
}

.nav-right-input {
  display: flex;
  margin-right: 10px;
  width: 800px;
  position: relative;
  justify-content: flex-end;
}

.add-margin {
  margin-right: 8px;
}

.hello-message {
  margin-top: 20px;
  text-align: right;
  width: 100%
}

.write-story-message {
  margin-top: 20px;
  text-align: right;
  width: 200px;
}

.publish-link {
  margin-top: 20px;
  text-align: right;
  width: 200px;
  margin-right: 16px;
}

.publish-link input[type='submit'] {
  border: none;
  background-color: white;
  font-size: 14px;
  letter-spacing: .8px;
  color: #e1bd5b;
  cursor: pointer;
  transition: color 200ms;
}

.publish-link input[type='submit']:hover {
  color: #e6a822;
}

.publish-link input[type='submit']:focus {
  outline: none;
}

/*.publish-link a:active {
  color: #fea95c;
}*/

.mag-glass {
  margin-top: 18px;
  margin-left: 5px;
  text-align: right;
  width: 20px;
  opacity: .5;
}

.avatar-container {
  margin-top: 12px;
  margin-left: 12px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  opacity: .6;
  position: relative;
  padding: 0px;
  min-width: 32px;
  max-width: 32px;
  transition: opacity 200ms;
}

.avatar-container:hover {
  opacity: .8;
  transition: opacity 200ms;
}

.avatar-container img {
  display: inline;
  margin: 0 auto;
  min-width: 32px;
  height: 32px;
}

/*.signup-avatar-container {
  float: right;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 36px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  opacity: .8;
  position: relative;
  padding: 0px;
  min-width: 32px;
  max-width: 32px;
}

.signup-avatar-container img {
  float: none;
  display: inline;
  margin: 0 auto;
  min-width: 32px;
  height: 32px;
}*/

.signup-avatar-container {
  margin-top: 8px;
  /*margin-left: 12px;*/
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  opacity: .7;
  position: relative;
  padding: 0px;
  min-width: 32px;
  max-width: 32px;
  position: absolute;
  right: 0;
  margin-right: 12px;
  /*background-color: pink;*/
}

.signup-avatar-container img {
  display: inline;
  margin: 0 auto;
  width: 32px;
  min-height: 32px;
  /*margin-right: 1px;*/
  /*min-width: 32px;*/
  /*height: 32px;*/
}

.session-buttons  {
  text-align: right;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  text-decoration: none;
  padding: 0px;
  min-width: 62px;
  max-width: 260px;
  right:0px;
  /*color: #e6a822;*/
  /*color: #f9d47c;*/
  color: #e1bd5b;
  transition: color 100ms;
}

.home-nav a:link {
  color: #aaa;
}

.home-nav a:visited {
  color: #aaa;
}

.home-nav a:hover {
  color: #777;
}

.home-nav a:active {
  color: #555;
}

.session-buttons a:link {
  color: #e1bd5b;
}

.session-buttons a:visited {
  color: #e1bd5b;
}

.session-buttons a:hover {
  color: #e6a822;
}

.session-buttons a:active {
  color: #fea95c;
}

.session-buttons a {
  text-decoration: none;
}

.session-buttons .guest-link a:link {
  color: #e6a822;
}

.session-buttons .guest-link a:visited {
  color: #e6a822;
}

.session-buttons .guest-link a:hover {
  color: #e1bd5b;
}

.session-buttons .guest-link a:active {
  color: #fea95c;
}

.hoverTopics{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 0px;
  left: 60px;
  position: absolute;
  width: 232px;
  opacity: 0;
  transition: opacity 300ms;
  cursor: pointer;
}

.hoverTopics:hover {
  opacity: .8;
  transition: opacity 300ms;
}

.topicHead{
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: #9b9b9b;
  font-size: 17px;
}
