.publishOptionsBox{
  background-color: white;
  border: 1px solid #eaeaea;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
  text-align: center;
  position: absolute;
  left: 50%;
  /*margin-left: 320px;*/
  margin-left: 220px;
  top: 54px;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 300;
}

.publishOptionsBox form{
  text-align: center;
}

.topicSelect{}

.topicButtons{
  text-align: center;
  padding-left: 0px;
}

/*ul {
    list-style: none;
}*/

.topicButtons li {
    display: block;
    margin-left:-13px;
    text-transform:uppercase;
    padding-top:3px;
    padding-bottom:3px;
    font-size: 16px;
    letter-spacing:1.4px;
}
.topicButtons input {
    visibility:hidden;
}
.topicButtons label {
    cursor: pointer;
    padding-left:6px;
    padding-right:6px;
}
.topicButtons input:checked + label {
    background: bisque;
}

.form-wrapper-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0);
  z-index: 200;
  opacity: 1;
  /*transition: opacity 1s;*/
}

.form-wrapper-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0);
  z-index: 201;
  display: none;
  opacity: 0;
  /*transition: opacity 1s;*/
}

.moveUp{
  margin-top:-10px;
}
