
/*  meow */
.nav-outer-TEST {
  display: flex;
  position:fixed;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
  z-index: 101;
}


.hoverTest{
  opacity: 0;
  transition: opacity 300ms;
}

.hoverTest:hover {
  opacity: .8;
  transition: opacity 300ms;
}

.umbrella {
  background-color: purple;
  fill: pink;
}

.st0div{
  width:50px;
}

.st0{
  fill:white;
  stroke:orange;
  stroke-width:.5px;
  transition: fill 200ms;
}

.st0:hover{
	fill:orange;
	cursor:pointer;
}

.example-enter {
  opacity: 0.01;
  background-color: purple;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: all 3000ms ease-in;
  background-color: pink;
}

.example-leave {
  opacity: 1;
  background-color: yellow;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: all 3000ms ease-in;
  background-color: blue;
}

.example-appear {
  opacity: 0.01;
  background-color: turquoise;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: all 3000ms ease-in;
}
